<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="d286ca65eed6a46b" />
    <meta name="keywords" content="плед,меринос,шерсть,крупная вязка" />
    <meta name="description" content="Стильные пледы крупной вязки из толстой пряжи 100% мериноса. Каждое изделие выполнено вручную, неповторимо и уникально, а значит Вы станете обладателем эксклюзивного пледа, который был создан специально для Вас." />
    <title>Пледы из натурального мериноса крупной вязки</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <!---- Happy New Year---->
    <script type="text/javascript" language="JavaScript" src="~/Scripts/snow.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            //$(document).snowfall({ image: "images/snow/snow3.png", minSize: 10, maxSize: 20, maxSpeed: 0.5 });

            $(".logo").height($(".header").height());

            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });

            $("#flexiselDemo1").flexisel({
                visibleItems: 2,
                itemsToScroll: 1,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: false,
                infinite: true
            });
        });
    </script>
    <!---- start-smoth-scrolling---->
    <script>
$(function() {

	// grab the initial top offset of the navigation
	var sticky_navigation_offset_top = $('#sticky_navigation').offset().top;

	// our function that decides weather the navigation bar should have "fixed" css position or not.
	var sticky_navigation = function(){
		var scroll_top = $(window).scrollTop(); // our current vertical position from the top

		// if we've scrolled more than the navigation, change its position to fixed to stick to top, otherwise change it back to relative
		if (scroll_top > sticky_navigation_offset_top) {
			$('#sticky_navigation').css({ 'position': 'fixed', 'top':0, 'left':0 });
		} else {
			$('#sticky_navigation').css({ 'position': 'relative' });
		}
	};

	// run our function on load
	sticky_navigation();

	// and run it again every time you scroll
	$(window).scroll(function() {
		 sticky_navigation();
	});

	// NOT required:
	// for this demo disable all links that point to "#"
	$('a[href="#"]').click(function(event){
		event.preventDefault();
	});

});
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44276064 = new Ya.Metrika({
                    id:44276064,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44276064" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
